*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{

}

li{
    text-decoration: none;
    font-size: 20px;

}

a{
    text-transform: none;
    color:black;
    text-decoration: none;
    margin-right: 10px;
}


.float-left{
    float: left;
}


.float-right{
    float: right;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.btn {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ff7a59;
    padding:5px;
    color: white;
}

.btn-normale{
    padding:15px;
    background-color: white;
    color: #ff7a59;
}

.btn-grande {
    padding:15px;
    background-color: #ff7a59;

}

/* inizio header */

.container{
    height:1200px;
    width: 80%;
    margin:auto;
    /* background-color: blue; */
}

.header-top{
    height: 100px;
    width: 100%;
    background-color: lightblue;
    border-bottom: 1px solid black;
}

.header-left{
    height: 100%;
    width: 30%;
    line-height: 100px;


}

.header-left li{
    list-style-type: none;
    display: inline-block;
}

.header-right{
    height: 100%;
    width: 50%;
    line-height:100px;
    text-align: center;
}

.header-right i{
    margin-right:20px;
    font-size: 20px;
    color: #0FA9C1;
}

.header-nav{
    height: 100px;
    width: 100%;
    background-color: white;
}

.header-nav hr{
    width: 100%;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.nav-left{

    height: 100%;
    width: 30%;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    margin-top:25px;
}

.nav-right{
    height: 100%;
    width: 50%;
}

.nav-right li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    line-height: 80px;
}
/* inizio jumbotron */
.jumbotron{
    height: 600px;
    width: 100%;
    position: relative;
}

.jumbotron img{
    width: 100%;
    position: absolute;
    bottom: 0;
    right:0;
    z-index: -1;


}

.jumbotron-title{
    height:150px;
    width: 30%;
    position: absolute;
    top:20%;
    left:0;

}

.jumbotron-title h1{
    font-size: 45px;
    font-size: 45px;
    color:#33475B;
    line-height:50px;
    font-weight: 700;
    margin: .5em 0
}

.jumbotron-title a{
    margin-bottom: 50px;
}

.jumbotron-title p{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.125rem;
    line-height: 1.61111em;
    font-weight: 500;
}
