*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;

}

header ul li{
    text-decoration: none;
    font-size: 20px;
    padding:10px;

}

a{
    text-transform: none;
    color:black;
    text-decoration: none;
    margin-right: 10px;
}


.float-left{
    float: left;
}


.float-right{
    float: right;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.btn {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ff7a59;
    padding:5px;
    color: white;
}

.btn-normale{
    padding:15px;
    background-color: white;
    color: #ff7a59;
}

.btn-grande {
    padding:15px;
    background-color: #ff7a59;

}

/* inizio header */

.container{
    width: 80%;
    margin:auto;
}

/* 1 barra header */

.header-top{
    width: 100%;
    background-color: lightblue;
    border-bottom: 1px solid black;
    position: relative;
}

.header-left{
    width: 30%;
    line-height: 100px;

}

.header-left li{
    list-style-type: none;
    display: inline-block;
}

.header-right{
    height: 100%;
    line-height:100px;

}

.header-right i{
    margin-right:20px;
    font-size: 20px;
    color: #0FA9C1;
}

/* 1 barra header */
/* 2 barra header */
.header-nav{
    height: 100px;
    width: 100%;
    background-color: white;
}

.nav-left img{
    margin-top: 35px;
}

.nav-right li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    line-height: 80px;
}
/* inizio jumbotron */
.jumbotron{
    height: 600px;
    width: 100%;
    position: relative;
}

.jumbotron{
    height:880px;
    background-color: #FFF2EE;
    background-image: url('../img/jumbotron.png');
    background-size: 100%;
    background-position: right top;
    background-repeat: no-repeat;
    box-shadow: inset 0 3px 8px rgba(0,0,0,0.1);

}

.jumbotron::before{
    width: 100%;
    height:70px;
    background-color: #aceae3;
    border-top: 2px solid #33475c;
    border-bottom:2px solid #33475c;
    position: absolute;
    bottom: 0;
    left: 0;
    content: ' ';
    display: block;


}

.jumbotron-title{
    height:150px;
    width: 30%;

}

.jumbotron-title h1{
    font-size: 45px;
    font-size: 45px;
    color:#33475B;
    line-height:50px;
    font-weight: 700;
    margin: .5em 0
}

.jumbotron-title a{
    margin-bottom: 50px;
}

.jumbotron-title p{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.125rem;
    line-height: 1.61111em;
    font-weight: 500;
}
/* Fine jumbotron */
/* Inizio Main */


main{
    background-color: lightblue;
}

/* sectiontop */

.section-top{
    height: 650px;
    width: 80%;
    margin: auto;
    position: relative;

}

.cubo{
    width: 800px;
}

.cubo img{
    width: 30%;
    position: absolute;
    left:50%;
    top: 40%;
    transform: translate(-50%, -50%);

}
.paragrafo{
    position: absolute;
    left:50%;
    top: 75%;
    transform: translate(-50%, -50%);

}
.cubo h3{
    font-size:30px;
    text-align: center;
}


.section-top p {
    display: inline-block;
    text-align: center;
    margin-top: 40px;
}

/* sectioncenter */
.rettangolo{
    height: 350px;
    width: 80%;
    margin:auto;
    background-color: white;
    box-shadow: 0 0 5px rgba(50,73,91,0.2);
    border-radius:5px;
    padding:6%;

}

.freehubspot-left img{
    margin-bottom: 35px;
}

.freehubspot-right{
    margin-left: 50px;

}

.freehubspot-right h3{
    margin-bottom:30px;
}

.freehubspot-right span{
    display: block;
    padding-top: 2%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}


.freehubspot-right li {
    display: inline-block;
    margin-top: 20px;
    margin-right:20px;
}

.sezione-cerchio i{
    color: white;
    background-color: #ff7a59;
    border-radius: 50px;
    margin-right: 20px;
}

/* sezione sub-center */
/* sezione a tre colonne */


.contenitore-colonne{
    width: 80%;
    margin:auto;
    }


.colonna-left{
    height: 750px;
    width: 30%;
    background-color: white;
    box-shadow: 0 0 5px rgba(50,73,91,0.2);
    border-radius: 5px;
    margin-top:40px;
    padding:3%;
    position: relative;
    }

.sezione-quadrato i{
    color: white;
    background-color: #ff7a59;
    border-radius: 50%;
    margin-right: 20px;
}

.sezione-quadrato a{
    position: absolute;
    bottom:2%;
    left:30%;
}

.contenitore-colonne img{
    height:200px;
    width: 200px;
    margin-left:20%;

}
.contenitore-colonne li{
    display:block;
    list-style-type: none;
}

.sezione-quadrato{
    font-size: 20px;
    margin-top: 40px;
}


.colonna-title{
    text-align: center;
    margin-top: 20px;
    margin-bottom:20px;
}
.colonna-title h3{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom:30px;

}
.colonna-title hr{
    margin-top: 40px;
    margin-bottom:40px;
}
.colonna-left span{
    margin-left: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}


.colonna-middle{
    height: 750px;
    width: 30%;
    background-color: white;
    box-shadow: 0 0 5px rgba(50,73,91,0.2);
    border-radius: 5px;
    padding:3%;
    margin-top:40px;
    margin-left:5%;
    margin-right:5%;
    position:relative;
}
.colonna-middle span{
    margin-left: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}
.sezione-quadrato a{
    position: absolute;
    bottom:2%;
    left:30%;
}

.colonna-right{
    height: 750px;
    width: 30%;
    background-color: white;
    box-shadow: 0 0 5px rgba(50,73,91,0.2);
    border-radius: 5px;
    padding:3%;
    margin-top:40px;
    position: relative;

}
.colonna-right span{
    margin-left: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.sezione-quadrato a{
    position: absolute;
    bottom:2%;
    left:30%;
}
/* sezione final */

.final{
    height:600px;
    width: 100%;
    background: linear-gradient(to top, #33ccff 0%, rgb(20, 230, 211) 100%);
    margin-top: 50px;
    }

.description-text{
    text-align: center;
    color: white;
}

.description-text h3{
    font-size: 25px;
    padding:15px;
}

.description-box{
    width: 25%;
    height: 150px;
    margin-top:50px;
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
    border-right:1px solid white;

}

.description-box h4{
font-size: 40px;
}

.last-box{
    border-right: none;
}

.description-subbox{
    width: 25%;
    height: 150px;
    text-align: center;
    color: white;
    border-right:1px solid white;
}

.last-subbox{
    border-right: none;
}

.description-subbox h4{
font-size: 40px;
}

/* inizio sub-final */
/* mini container */

.sub-final{
    background-color: white;
}

.mini-container{
    width: 60%;
    margin:auto;
    height: 200px;
}

.box-numbers{
    width: 25%;
    height:100px;
    text-align: left;
    padding-top:50px;
    margin-right: 100px;
}
.box-numbers h4{
    text-align:justify;
    font-size: 35px;
    margin-bottom: 20px;
}

.box-numbers p {
    line-height: 1.6;
}

.box-icon img{
    padding-top: 25px;
    vertical-align: middle;
    width: 120px;
    margin-right: 50px;
}

/* container 2 step */
.contenitore{
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 80px;
    position: relative;

}

.box-info{
    height:150px;
    width: 45%;

}

.box-info h4{
    font-size: 45px;
    font-size: 45px;
    color:#33475B;
    line-height:50px;
    font-weight: 700;
    margin: .5em 0
}

.box-info a{
    margin-bottom: 50px;
}

.box-info p{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.125rem;
    line-height: 1.61111em;
    font-weight: 500;
}


.box-cinese img{
    width: 20%;
    position: absolute;
    right: 0;
    top:20%;

}
